<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Занятие по курсу</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
    <meta property="og:title" content="Заголовок страницы в OG">
    <meta property="og:description" content="Описание страницы в OG">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:url" content="https://example.com/">
  </head>
  <body>
    <header>
      <h1>Документы</h1>
      <p></p>
    </header>
    <main>
      <article>
        <section>
			<h2>Каталог документов</h2>
			<p></p>
			<table class="table" id="documentTable">
			<thead>
				 <tr>
					 <th>Название документа</th>
					 <th>Номер задания</th>
					 <th>Путь к файлу</th>
				 </tr>
			 </thead>
				 <tbody>
					 
				 </tbody>
			</table>
			<p></p>
		</section>
		<section>
			<section>
				<h2>Добавить документ</h2>
				<form id="documentForm">
					<label for="name">
						<!-- font awesome icon -->
						<i class="fas fa-user"></i>
					</label>
					<input type="text" name="name" placeholder="Название документа" id="documentName" required>
					<label for="task">
						<!-- font awesome icon -->
						<i class="fas fa-user"></i>
					</label>
					<input type="text" name="task" placeholder="Номер задания" id="taskName" required>
					<label for="filePath">
						<i class="fas fa-user"></i>
					</label>
					<input type="text" name="filePath" placeholder="Путь к документу" id="filePath" required>
					<input type="submit">
				</form>
			</section>
		</section>
      </article>
    </main>
  </body>
  
  <script>
	$(document).ready(function () {
		var myParam = location.search.split('task=')[1]

		let url = 'ws://localhost:8080/ws'

		let socket = new WebSocket(url);

		// отправка сообщения из формы
		/*document.forms.publish.onsubmit = function() {
			let outgoingMessage = this.message.value;

			socket.send(outgoingMessage);
			return false;
		};*/

		// прослушка входящих сообщений
		socket.onmessage = function(event) {
			let incomingMessage = event.data;
			alert(incomingMessage);
		};

		socket.onclose = event => console.log(`Closed ${event.code}`);
			
		$.ajax({
			url: '/document/'+myParam,         
			method: 'get',             
			dataType: 'json',   
			success: function(result){ 
				data = result.data
				for(i=0; i < data.length; i++){
					$('#documentTable tbody').append('<tr><td>' + data[i].name + '</td><td>' + data[i].task + '</td><td>' + data[i].filePath + '</td></tr>');
				}
				
			}
		});

		$("#documentForm").submit(function (e) {
           e.preventDefault();
            var form_data = $(this).serialize(); 
            $.ajax({
                type: "POST", 
                url: "/document",
                data: form_data,
                success: function (message) {
					alert("Документ добавлен!");
					
					let outgoingMessage = message.data;
					let sendObj = {
						id			: outgoingMessage.id,
						message		:"Добавлен документ"
					}
					console.log(outgoingMessage)
					socket.send(JSON.stringify(sendObj));
                }
            });
        });
    });   
	
  </script>
</html>